    body{
            font-family: 'Bebas Neue', cursive;
            background-color: rgb(235, 243, 243);
        }

        #header-nav{ /* Affects complete navbar */
            background: #042e4f!important;
        }

        .logo{ /* Virus image */
            width: 70px;
            display: inline;
            border-radius: 89px;
            padding: 8px 6px;
        }

        .nav-brand{ /* COVINFO */
            font-size: 38px;
            color: white!important;
        }

        #nav-list{
            text-align: center;/* centers text in dropdown menu */
        }

        #nav-list a{/* HOME STATISTICS MYTHS */
            color: #fff;
            font-size: 22px;
            margin-left: 5px;
            margin-right: 5px;
        }

        #search-bar{/* I think the name is self-explanatory */
            margin-left: 10px;
        }



