        * {
            padding: 0px;
            margin: 0px;
        }
        body{
            font-family: 'Bebas Neue', cursive;
            background-color: rgb(235, 243, 243);
        }
        .logo {
            float: left;
            width: 70px;
            margin-right: auto;
            display: inline;
            border-radius: 89px;
            padding: 8px 6px;
        }
        .logo-content {
            float: left;
            font-weight: 700;
            font-size: 37px;
            margin: -34px 13px;
            padding: 51px 2px;
        }

        .navbar {
            background: #042e4f;
            height: 57px;
            color: #fff;
            font-size: 14px;

        }

        .navbar ul {
            overflow: auto;
            padding: 0px 15rem;
        }

        .navbar li {
            float: left;
            list-style: none;
            margin: 13px 20px;

        }

        .navbar li a {
            padding: 12px;
            text-decoration: none;
            color: white;
            font-size: 27px;
        }

        .navbar li a:hover {
            color: rgb(0, 0, 0)
        }

        .search {
            float: right;
            color: white;
            padding: 16px;
            margin: 0px 75px;
            background-color: #fff;
        }

        .navbar input {
            border: 2px solid black;
            border-radius: 14px;
            padding: 3px 17px;
            width: 129px;
        }
