    body{
            font-family: 'Bebas Neue', cursive;
            background-color: rgb(235, 243, 243);
        }

        /* BEGIN NAVBAR */
        #complete-nav{ /* Affects complete navbar */
            background: #042e4f!important;
        }

        .logo{ /* Virus image */
            width: 70px;
            position: relative;
            bottom: 2px;
            display: inline;
            border-radius: 89px;
            padding: 6px 5px;
        }

        .nav-brand{ /* COVINFO */
            text-align: left!important;
            margin-right: auto;
            font-size: 38px;
            color: white!important;
        }

        #nav-list{
            text-align: center;/* centers text in dropdown menu */
        }

        .nav-item a:hover{
            background-color: #042e4f;
            opacity: 30%;
        }

        #nav-list a{/* HOME STATISTICS MYTHS */
            color: #fff;
            font-size: 20px;
            margin-left: 5px;
            margin-right: 5px;
        }

        #search-bar{/* I think the name is self-explanatory */
            margin-left: 10px;
            margin-right: 10px;
        }

        /* END NAVBAR */


        /* BEGIN FOOTER */
        #foot-er{
            margin-top: 50px;
            background: #042e4f;
            color: white;
        }

        #copyr{
            color: #20c997!important;
            font-size: 16px;
        }

        div svg{
            margin-right: 25px;
        }

        #comp-name{
            font-size: 60px;
            margin-top: auto;
            margin-bottom: auto!important;
        }

        .footer-content, h6{
            font-size: 1.20em;
        }

        /* END FOOTER */

